{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
$( document ).ready(function() {
	$("#console").text("{{ combat_results | default(character.location.description) }}");
});
</script>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		Location: {{ character.opponent.name | default(character.location.name) }}
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		Your HP: {{ character.hps }} / {{ character.max_hps }}
	</div>
	<div class="mdl cell mdl-cell--3-col mdl-cell--6-offset">
		Opponent HP: {{ character.opponent.hps }} / {{ character.opponent.max_hps }}
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			<img class="img-responsive" src="http://via.placeholder.com/675x150?text={{ character.opponent.name | default(character.location.name) }}"/>
		</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			<p id="console">Not ready yet.</p>
		</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			<a href="{{ url_for('attack') }}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					Attack
				</button></a></div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
					<a href="{{ url_for('run_away') }}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							Run Away
						</button></a></div>
		</div>
</div>
{% endblock%}
