{% extends "layout.html" %}
{% block body %}
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<a href="{{url_for('index')}}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			                          Back
						                  </button>
								          </a>
</div>
{% if form is defined %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<form action="{{ url_for('character_profile') }}" method=post class=add-entry>
	{{ form.csrf_token }}
	<dl>
		<dt>{{form.name.label}}
		<dd>{{form.name}}
		<dd><input type=submit value='Create Character'>
	</dl>
</form>
</div>
{% endif %}
{% if character is defined %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<h3>	{{ character.name }} {{ character.title }}</h3>
</div>
<div class="mdl-cell mdl-cell--2-col mdl-cell--10-offset-desktop mdl-cell--2-offset-phone">
	<h4>{{ character.credits }} credits</h4>
</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<table class="mdl-data-table mdl-js-data-table full-width dark-theme">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric full-width">Attribute</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="mdl-data-table__cell--non-numeric full-width">Strength</td>
			<td>{{character.attributes['strength']}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric full-width">Dexterity</td>
			<td>{{character.attributes['dexterity']}}</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric full-width">Intelligence</td>
			<td>{{character.attributes['intelligence']}}</td>
		</tr>
	</tbody>
</table>
	</div>
{% endif %}
</div>
{% endblock%}
