{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
$( document ).ready(function() {
	$('#console ul').append('<li class="mdl-list__item"><span class="mdl-list__item-primary-content">Ready to go!</span></li>');
});
</script>
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	Location: {{character.location.name}}
</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	{% if character.opponent %}
	<img src="http://via.placeholder.com/675x150?text={{character.opponent.name}}"/>
	{% else %}
	<img src="http://via.placeholder.com/675x150?text={{character.location.name}}"/>
	{% endif %}
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<ul id="console">
	</ul>

	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		{% if character.opponent %}
		<a href="#"><button class="mdl-button mdl-js-button mdl-button--raised">
				Attack
			</button></a>
			 <a href="#"><button class="mdl-button mdl-js-button mdl-button--raised">
					                                 Run Away
									                         </button></a>
												 {% endif %}
	</div>
</div>
</div>
{% endblock%}
