{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
$( document ).ready(function() {
	$("#console").text("{{ character.location.description }}");
});
</script>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		Location: {{ character.opponent.name | default(character.location.name) }}
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			{% if character.opponent %}
			<img class="img-responsive" src="http://via.placeholder.com/675x150?text={{character.opponent.name}}"/>
			{% else %}
			<img class="img-responsive" src="http://via.placeholder.com/675x150?text={{character.location.name}}"/>
			{% endif %}
		</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			<p id="console">Not ready yet.</p>
		</div>
		{% if character.opponent %}
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
			<a href="#"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					Attack
				</button></a></div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
					<a href="#"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
							Run Away
						</button></a></div>
						{% else %}
						{% for exit in nearest_exits %}
						<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
							<a href="{{ url_for('move_character',destination_id=exit.id) }}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><i class="material-icons">exit_to_app</i> Travel: {{exit.name}}</button></a>
						</div>
						{% endfor %}
						{% endif %}
</div>
</div>
{% endblock%}
