{% extends "layout.html" %}
{% block body %}
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	Location: {{character.location.name}}
</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	{% if character.opponent %}
	<img src="http://via.placeholder.com/675x150?text={{character.opponent.name}}"/>
	{% else %}
	<img src="http://via.placeholder.com/675x150?text={{character.location.name}}"/>
	{% endif %}
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		<form action="#">
			  <div class="mdl-textfield mdl-js-textfield">
				      <textarea class="mdl-textfield__input" type="text" rows= "3" id="console" ></textarea>
				      <label class="mdl-textfield__label" for="console">{{ g.log }}</label>
					    </div>
		</form>
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
		{% if character.opponent %}
		<a href="#"><button class="mdl-button mdl-js-button mdl-button--raised">
				Attack
			</button></a>
			 <a href="#"><button class="mdl-button mdl-js-button mdl-button--raised">
					                                 Run Away
									                         </button></a>
												 {% endif %}
	</div>
</div>
</div>
{% endblock%}
