{% extends "layout.html" %}
{% block body %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
	<a href="{{url_for('index')}}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			  Back
		</button>
	</a>

{% if inventory is defined %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable full-width">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric fullwidth">Name</th>
			<th class="mdl-data-table__cell--non-numeric">Type</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
{% for item in inventory %}
<tr>
	<td class="mdl-data-table__cell--non-numeric fullwidth">{{item.name}}</td>
	<td class="mdl-data-table__cell--non-numeric">{{item.type}}</td>
	<td>{{item.value}}</td>
</tr>
{% endfor %}
	</tbody>
</table>
{% else %}
Undefined
{% endif %}
</div>
{% endblock%}
